<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Statistics - 최대값</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Chart.min.js -->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

  <!-- =======================================================
  * Template Name: Scaffold - v2.0.0
  * Template URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{ url_for('index') }}"><span>Citizen</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
          
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('chart') }}">Chart&Statistics</a></li>
          <li>Statistics - Maximum</li>
        </ol>
        <h2>[통계] 최대값</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

              <!-- avg -->
              <div style="margin:10px;">
                <ul class="nav nav-tabs">
                  <!-- Tab 아이템이다. 태그는 li과 li > a이다. li태그에 active는 현재 선택되어 있는 탭 메뉴이다. -->
                  <li class="active"><a href="#jisunMax" data-toggle="tab">벽산디지털밸리7차</a></li>
                  <li><a href="#jeongjaMax" data-toggle="tab">ENC벤처드림타워3차</a></li>
                  <li><a href="#cheonmakMax" data-toggle="tab">삼성IT밸리</a></li>
                </ul>
      
                <!-- Tab이 선택되면 내용이 보여지는 영역 -->
                <div class="tab-content">
                  
                    <div class="tab-pane fade in active" id="jisunMax">
                        <canvas id="bar-chart" width="800" height="450"></canvas>
                        <script>
                          new Chart(document.getElementById("bar-chart"), {
                            type: 'bar',
                            data: {
                              labels: ["10/26", "10/27", "10/28", "10/29", "10/30", "10/31", "11/01"],
                              datasets: [
                                {
                                  label: "Population (millions)",
                                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#FF1493", "FFFF00"],
                                  data: [{{jisun2_max[0]}},{{jisun2_max[1]}},{{jisun2_max[2]}},{{jisun2_max[3]}},{{jisun2_max[4]}}, {{jisun2_max[5]}}, {{jisun2_max[6]}}]
                                }
                              ]
                            },
                            options: {
                              legend: { display: false },
                              title: {
                                display: true,
                                text: 'Maximum Smoking Level (ppm)'
                              }
                            }
                        });
                        </script>
                      </div>
                      <div class="tab-pane fade" id="jeongjaMax">
                        <canvas id="bar-chart2" width="800" height="450"></canvas>
                        <script>
                          new Chart(document.getElementById("bar-chart2"), {
                            type: 'bar',
                            data: {
                              labels: ["10/26", "10/27", "10/28", "10/29", "10/30", "10/31", "11/01"],
                              datasets: [
                                {
                                  label: "Population (millions)",
                                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#FF1493", "FFFF00"],
                                  data: [{{jeongja2_max[0]}},{{jeongja2_max[1]}},{{jeongja2_max[2]}},{{jeongja2_max[3]}},{{jeongja2_max[4]}}, {{jeongja2_max[5]}}, {{jeongja2_max[6]}}]
                                }
                              ]
                            },
                            options: {
                              legend: { display: false },
                              title: {
                                display: true,
                                text: 'Maximum Smoking Level (ppm)'
                              }
                            }
                        });
                        </script>
                      </div>
                      <div class="tab-pane fade" id="cheonmakMax">
                        <canvas id="bar-chart3" width="800" height="450"></canvas>
                        <script>
                          new Chart(document.getElementById("bar-chart3"), {
                            type: 'bar',
                            data: {
                              labels: ["10/26", "10/27", "10/28", "10/29", "10/30", "10/31", "11/01"],
                              datasets: [
                                {
                                  label: "Population (millions)",
                                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#FF1493", "FFFF00"],
                                  data: [{{cheonmak2_max[0]}},{{cheonmak2_max[1]}},{{cheonmak2_max[2]}},{{cheonmak2_max[3]}},{{cheonmak2_max[4]}}, {{cheonmak2_max[5]}}, {{cheonmak2_max[6]}}]
                                }
                              ]
                            },
                            options: {
                              legend: { display: false },
                              title: {
                                display: true,
                                text: 'Maximum Smoking Level (ppm)'
                              }
                            }
                        });
                        </script>
                      </div>

                </div>
              </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Citizen</h3>
              <p>
                흡연자와 비흡연자의 '동행'을 위한<br>
                '스마트 시민랩 프로젝트'팀 시티즌입니다.<br><br>
                <strong>Email:</strong> 팀원 개인에게 연락 바랍니다<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('map') }}">Smoking Map</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('chart') }}">Chart</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('opensource') }}">OpenSource</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('forum') }}">Forum</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Logo</h4>
            <img src="{{ url_for('static', filename='img/citizen_logo.png') }}" alt="" class="img-fluid">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Citizen</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>